<div>
    <!--<div class="form-group m-3">
        <label>ID</label>
        <input type="text" class="form-control" [(ngModel)]="id">
    </div>-->
    <div class="form-group m-3">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="name" value="{{name}}">
    </div>
    <div class="form-group m-3">
        <label>Status</label>
        <select class="form-control" [(ngModel)]="status">
            <option value="Alive">Alive</option>
            <option value="Dead">Dead</option>
        </select>
    </div>
    <div class="form-group m-3">
        <label>Species</label>
        <input type="text" class="form-control" [(ngModel)]="species" value="{{species}}">
    </div>
    <div class="form-group m-3">
        <label>Gender</label>
        <select class="form-control" [(ngModel)]="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>
    <div class="form-group m-3">
        <label>Origin</label>
        <input type="text" class="form-control" [(ngModel)]="origin" value="{{origin}}">
    </div>
    <div class="form-group m-3">
        <label>Image</label>
        <input type="text" class="form-control" [(ngModel)]="image" value="{{image}}">
    </div>
    <button class="btn btn-primary m-3" (click)="update()">Update</button>
