<div class="mt-5">
  <h2>About</h2>

  <div class="mt-5">
    <h3>What is this?</h3>
    <p>The Rick and Morty API is a REST(ish) and GraphQL API based on the television show Rick and Morty. You will have access to about hundreds of characters, images, locations and episodes. The Rick and Morty API is filled with canonical information as seen on the TV show. Check out the documentation to get started</p>
  </div>
  <div class="mt-5">
    <h3>Who are you?</h3>
    <p>We are Axel Fuhrmann, a guy who likes to develop things and Talita, the "Rick and Morty data scientist" and hardcore fan.</p>
  </div>
  <div class="mt-5">
    <h3>Why did you build this?</h3>
    <p>Because we were really interested in the idea of writing an open source project and also because Rick and Morty is our favorite show at that moment, so why not?</p>
  </div>
  <div class="mt-5">
    <h3>Technical stuff?</h3>
    <p>We use Node and MongoDB to serve the API. All the data is formatted in json and the entire project is hosted on Digital Ocean and Netlify.</p>
  </div>
  <div class="mt-5">
    <h3>How can I contribute to the project?</h3>
    <p>You can help us to keep the project alive and you can also contribute on GitHub.</p>
  </div>
  <div class="mt-5">
    <h3>Copyright?</h3>
    <p>Rick and Morty is created by Justin Roiland and Dan Harmon for Adult Swim. The data and images are used without claim of ownership and belong to their respective owners.

      This API is open source and uses a BSD license.</p>
  </div>

</div>

